{% extends "admin/change_form.html" %}

{% block field_sets %}{% endblock %}

{% block content %}<div id="content-main">

<dl class='email-detail'>
    from_email = models.TextField(_("from email"))
    recipients = models.TextField(_("recipients"))
    subject = models.TextField(_("subject"))
    body = models.TextField(_("body"))
    ok = models.BooleanField(_("ok"), default=False, db_index=True)
    date_sent = models.DateTimeField(_("date sent"), auto_now_add=True,
                                     db_index=True)
    <dt>Sent:</dt>
    <dd>{{ original.date_sent }}</dd>

    <dt>From:</dt>
    <dd>{{ original.from_email }}</dd>

    <dt>Recipients:</dt>
    <dd>{{ original.recipients }}</dd>

    <dt>Subject:</dt>
    <dd>{{ original.subject }}</dd>

    <dt>Body:</dt>
    <dd><pre>{{ original.body_as_string }}</pre></dd>

    <dt>OK:</dt>
    <dd>{{ original.ok }}</dd>

</dl>
</div>{% endblock content %}
