language: python

python:
  - 3.5
  - 3.6
  - 3.7
  - 3.8

env:
  - DJANGO=Django==1.11
  - DJANGO=Django==2.0
  - DJANGO=Django==2.1
  - DJANGO=Django==2.2
  - DJANGO=Django==3.0

install:
  - pip install coverage coveralls $DJANGO

script: coverage run -a --branch setup.py test

matrix:
  exclude:
   - python: 3.5
     env: DJANGO=Django==3.0
   - python: 3.7
     env: DJANGO=Django==1.11
   - python: 3.8
     env: DJANGO=Django==1.11

after_success: coveralls
